/*
    This file defines a lot of style necessary to make Wordpress work
    correctly.

    It is not recommended to edit it unless you know exactly what you
    are doing.
*/
.link-without-style() {
    a {
        color: inherit;
        text-decoration: none;
        &:focus,
        &:hover {
            text-decoration: none;
            color: @link-hover-color;
        }
    }
}
.block {
    background-color: @block-bg;
    border-radius: @block-border-radius;
    margin-bottom: 30px;
    box-shadow: none;
    &.block-title {
        padding-top: (@block-padding - @padding-base-vertical);
        padding-bottom: @block-padding;
    }
}
/* homepage */
.home_categories_menu_class {
    ul {
        list-style: none;
        margin: 0 0 0 -15px;
        padding: 0;
        font-size: 0;
        li {
            display: inline-block;
            width: 25%;
            padding: 0;
            margin: 0;
            font-size: 20px;
            a {
                padding: 20px 0;
                display: inline-block;
                text-align: center;
                width: 100%;
                color: #fff;
                text-transform: uppercase;
            }
        }
        li.color1 {
            background-color: #bdac7e;
        }
        li.color2 {
            background-color: #df7e6b;
        }
        li.color3 {
            background-color: #965251;
        }
        li.color4 {
            background-color: #8d7644;
        }
    }
}
.home_before_three_columns {
    background-color: #fff;
    padding: 20px 0 40px;
    h2 {
        color: #965251;
        font-size: 54px;
    }
    .textwidget {
        color: #000;
        font-size: 31px;
    }
}
.home_three_columns {
    background-color: #fff;
    padding-bottom: 20px;
    .home_three_columns_item {
        text-align: center;
        color: #000;
        h2 {
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            margin-right: 20px;
        }
        hr {
            width: 100px;
            border-bottom: 3px solid #965251;
        }
        a {
            margin: 20px;
            display: block;
            img {
                .img-circle;
                .img-responsive;
                margin: 0 auto;
            }
        }
        .widget_sp_image-description {
            margin: 20px;
        }
    }
}
.homepage_content {
    background-image: url('images/sfondo-mondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 0 30px;
    h2 {
        text-transform: uppercase;
        font-size: 54px;
        color: #df7e6b;
        padding: 40px 0 10px;
    }
    h4 {
        font-size: 32px;
        color: #df7e6b;
        padding: 10px 0;
    }
    p {
        max-width: 800px;
        line-height: 24px;
        margin-left: auto;
        margin-right: auto;
        img {
            margin-right: 10px;
        }
    }
}
.homepage {
    .contacts {
        background-image: url('images/sfondo-contatti.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        color: #80d5f9;
        text-transform: uppercase;
        font-weight: bold;
        font-weight: 31px;
        h2 {
            padding: 30px 0 10px;
            color: #fff;
            font-weight: 54px;
        }
    }
    .homepage_contacts_form {
        margin-top: 40px;
    }
    .homepage_contacts_text {
        text-transform: none;
        text-align: left;
        color: #fff;
        h2 {
            font-size: 30px;
            font-weight: bold;
        }
        p {
            margin-bottom: 25px;
            img {
                margin-right: 20px;
                float: left;
                margin-top: -10px;
            }
        }
        p:first-child {
            img {
                margin-top: 0;
            }
        }
        .social {
            margin: 100px 0 0;
            a {
                img {
                    margin-right: 40px;
                    -webkit-transition: all 0.5s linear;
                    -moz-transition: all 0.5s linear;
                    -ms-transition: all 0.5s linear;
                    -o-transition: all 0.5s linear;
                    transition: all 0.5s linear;
                }
            }
            a:hover img {
                opacity: 0.7;
            }
        }
    }
}
/* style development */
.style-development {
    background-color: #fff3dd;
    position: relative;
    img.style-development-top-left {
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 1;
    }
    img.style-development-top-right {
        position: absolute;
        top: 80px;
        right: 50px;
        z-index: 1;
    }
    img.style-development-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    img.style-development-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    .style-development-content {
        border: 4px dashed #5e5438;
        margin: 20px 0;
        .article-header {
            .post-date {
                display: none;
            }
            h1 {
                font-size: 44px;
                color: #544c35;
                font-weight: normal;
                background-color: transparent;
                padding: 50px 0 21px;
                z-index: 2;
                position: relative;
            }
        }
        .post_content {
            position: relative;
            z-index: 2;
            color: #544c35;
            margin: 0 10%;
            font-size: 25px;
            h2 {
                color: #c46957;
                font-size: 35px;
                margin-bottom: 30px;
            }
            strong {
                color: #c46957;
            }
            img {
                margin: 60px auto;
                text-align: center;
                display: block;
            }
        }
    }
}
/* product categories */
.section-product-category-menu {
    .navbar {
        min-height: auto;
    }
    .navbar-toggle{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .navbar-nav > li > a {
      padding-top:    10px;
      padding-bottom: 10px;
    }
    .dropdown-menu {
        padding: 0px 0px;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
    {
        background-color: transparent;
    }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background-color: rgba(0,0,0,0.1);
    }
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background-color: inherit;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }
    .navbar-collapse {
        box-shadow: none;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    {
        background-color: transparent;
    }
    li.color1 {
        background-color: #bdac7e;
        li {
            background-color: #bdac7e;
        }
    }
    li.color2 {
        background-color: #df7e6b;
        li {
            background-color: #df7e6b;
        }
    }
    li.color3 {
        background-color: #965251;
        li {
            background-color: #965251;
        }
    }
    li.color4 {
        background-color: #8d7644;
        li {
            background-color: #8d7644;
        }
    }
}

@media (max-width: 767px){
    .section-product-category-menu {
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            background-color: rgba(0,0,0,0.1);
        }
    }
}

.main_product_categories_menu_class {
    font-size: 25px;
    text-transform: uppercase;
    text-align: right;
    a {
        color: #fff;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            border-left: 1px solid #fff;
            padding: 0 10px 0 15px;
        }
        li:first-child {
            border-left: 0 solid transparent;
        }
        li.current-menu-item a,
        li.current-product-category-ancestor a {
            color: #965251;
        }
    }
}
.product-item .post_content a {
    color: #fff;
    text-align: center;
    display: block;
    padding: 15px 0;
    background-color: #965251;
}
.post .product {
    background-color: #f5f1f1;
    .article-header {
        background-color: transparent;
        h1 {
            color: #000000;
            background-color: transparent;
            font-size: 40px;
        }
    }
}
/* post styling */
#main > article {
    header {
        .link-without-style();
        .meta {
            .link-without-style();
            margin-bottom: 20px;
        }
    }
    section {
        .clearfix();
        img {
            &.alignleft {
                .pull-left();
                margin-right: 10px;
            }
            &.alignright {
                .pull-right();
                margin-left: 10px;
            }
            &.aligncenter {
                display: block;
                margin: 0 auto;
            }
        }
        .wp-video {
            margin-left: auto;
            margin-right: auto;
        }
    }
    section.post_content {
        background-color: #f5f1f1;
        color: #000;
        padding: 40px;
        h3 {
            color: #c46957;
        }
    }
}
.blog-container {
    background: #000 url("images/sfondo-blog.jpg") repeat left top;
    padding: 20px;
}
.tags {
    a {
        .label;
        .label-default;
    }
}
/* blog */
.post.post-item {
    position: relative;
    box-shadow: none;
    .article-header {
        padding: 0;
    }
    .post-date {
        background-color: #bdac7e;
        position: absolute;
        right: 0;
        top: -10px;
        width: 76px;
        height: 84px;
        text-align: center;
        .post-day {
            font-size: 38px;
        }
        .post-month-year {
            font-size: 14px;
        }
    }
    header {
        background-color: #454545;
        h2 {
            margin: 0;
            padding: 10px 10px 0;
        }
    }
    section {
        background-color: #454545;
        padding: 10px 10px 80px;
        .pull-right {
            font-size: 15px;
            position: absolute;
            bottom: 20px;
            right: 40px;
        }
    }
    a {
        color: #bdac7e;
        text-transform: uppercase;
        font-size: 20px;
    }
}
.post.post-item.fashion {
    .post-date {
        background-color: #df7e6b;
    }
}
.post.post-item.business-opportunities {
    .post-date {
        background-color: #965251;
    }
}
.post.post-item.fashion {
    .post-date {
        background-color: #df7e6b;
    }
}
/* sidebar */
#sidebar-right {
    .block {
        box-shadow: none;
        .same-category-post-item {
            border-bottom: 0 solid transparent;
            background-color: #454545;
            position: relative;
            display: block;
            margin-bottom: 20px;
            .post-title {
                color: #bdac7e;
                text-transform: uppercase;
                font-size: 20px;
                padding: 10px;
            }
            .post-date {
                background-color: #bdac7e;
                position: absolute;
                right: -20px;
                top: 30px;
                width: 76px;
                height: 84px;
                text-align: center;
                border-radius: 5px;
                display: block;
                .post-day {
                    font-size: 38px;
                    display: block;
                }
                .post-month-year {
                    font-size: 14px;
                    display: block;
                }
            }
        }
    }
}
/* comments */
#comments {
    .block();
}
.commentlist {
    .list-unstyled();
    .children {
        .list-unstyled();
        margin-left: 20px;
    }
    .comment-body {
        padding: 30px 0;
        border-bottom: 1px solid @hr-border;
        .edit-link a {
            &::before {
                content: "\270f";
                .glyphicon();
                padding-right: 3px;
            }
            .text-muted();
            text-decoration: none;
            &:focus,
            &:hover {
                text-decoration: none;
                color: @link-hover-color;
            }
        }
    }
    .comment .comment-body {
        & > * {
            padding-left: 50px;
            position: relative;
            .avatar {
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 2px;
                position: absolute;
                left: 0;
                height: 34px;
                top: 2px;
                width: 34px;
            }
        }
        .comment-author {
            margin-bottom: 5px;
            .link-without-style();
            .fn {
                font-weight: bold;
            }
        }
        .comment-metadata {
            margin-bottom: 5px;
            .link-without-style();
            .text-muted();
            & > a {
                &::before {
                    content: "\e023";
                    .glyphicon();
                    padding-right: 3px;
                }
            }
        }
        .reply a {
            &::before {
                content: "\e095";
                .glyphicon();
                padding-right: 3px;
            }
        }
    }
}
.comment-navigation {
    .list-inline();
    & > li {
        padding: 0;
        & > a {
            padding: 0 5px;
        }
    }
}
.comment-form {
    .comment-form-author,
    .comment-form-comment,
    .comment-form-email,
    .comment-form-url {
        .form-group;
        input,
        textarea {
            .form-control;
        }
        textarea {
            height: auto;
        }
    }
    .form-allowed-tags {
        code {
            white-space: normal;
            color: @text-color;
            background-color: transparent;
        }
    }
    input[type='submit'] {
        .btn;
        .btn-primary;
    }
}
/* widget styles */
.widget {
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 18px;
    }
}
.widgettitle {
    margin-bottom: 9px;
}
.tagcloud {
    a {
        .label;
        .label-default;
    }
}
/* calendar widget */
.widget_calendar {
    > div {
        .table-responsive();
    }
    table {
        .table();
        caption {
            font-weight: bold;
        }
    }
}
/* widgets */
.vertical-nav {
    .widget ul {
        .list-unstyled();
        li {
            .link-without-style();
            padding: 0 0 10px;
            border-bottom: 1px solid @hr-border;
            &:last-of-type {
                border-bottom: 0;
            }
            ul {
                margin-left: 15px;
            }
        }
    }
}
.widget.widget_text {
    .widgettitle {
        border-bottom: 1px solid @hr-border;
        padding-bottom: 10px;
    }
}
.widget_a2a_follow_widget {
    border-bottom: 1px solid @hr-border;
    height: 40px;
    .widgettitle {
        float: left;
        margin-left: 0px;
    }
    .addtoany_list {
        line-height: 21px;
        padding: 10px 0 10px 20px;
        float: left;
    }
}
.rpwe_widget {
    .widgettitle {
        padding-bottom: 10px;
        border-bottom: 1px solid @hr-border;
    }
}
.widget_tag_cloud {
    .widgettitle {
        padding-bottom: 10px;
        border-bottom: 1px solid @hr-border;
    }
    .tagcloud{
        a {
            display: inline-block;
            border: 1px solid #fff;
            padding: 10px;
            text-transform: uppercase;
            font-size: 11px !important;
            margin: 5px;
            color: #fff;
        }
    }
}
/* footer */
html {
    height: 100%;
}
body {
    background-size: cover;
    height: 100%;
}
#content-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    > * {
        display: table-row;
    }
}
#page-content {
    height: 100%;
}
#inner-footer {
    background-color: #000;
    padding-top: @footer-padding;
    padding-bottom: (@footer-padding - @padding-base-vertical);
    border-top: 1px solid @navbar-default-border;
    & a {
        color: #fffdfd;
    }
}
/* featured image */
.featured-image {
    img {
        width: 100%;
        height: auto;
    }
}
/* gallery */
.gallery {
    .make-row();
    .gallery-item {
        .make-xs-column(6);
        .make-sm-column(4);
        .make-md-column(3);
        padding-bottom: 15px;
    }
}
/* a style used for post headers */
.post {
    .article-header {
        padding: @line-height-computed 30px;
        background-color: #454545;
        text-transform: uppercase;
        text-align: left;
        .post-date {
            color: #fff;
        }
        h1 {
            margin: 0;
            padding: 0;
            color: #bdac7e;
            font-size: 30px;
        }
    }
}
/* a style used for page headers */
.page-full-with {
    background-color: #fff;
    h1 {
        margin: 0;
        padding: @line-height-computed 0;
        color: #c46957;
        text-transform: uppercase;
        text-align: center;
    }
    #main > article {
        section.post_content {
            text-align: center;
            background-color: transparent;
            color: #000;
            padding: 40px;
            h3 {
                color: #c46957;
            }
            img {
                margin: 20px auto;
            }
            hr {
                border-top: 3px solid #c46957;
                width: 100px;
            }
        }
    }
}
/* just a little style to remove spacing on the pager */
.pager-unspaced {
    margin: 0 0 @padding-base-vertical;
}
/* empty styles to please wordpress theme checker */
.wp-caption {
    /**/
}
.wp-caption-text {
    /**/
}
.sticky {
    /**/
}
.gallery-caption {
    /**/
}
.bypostauthor {
    /**/
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
    padding-left: 5px;
}
ul.dashed > li {
    text-indent: 0;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
    margin-right: 5px;
}
.main_blog_menu_class {
    ul {
        position: relative;
        padding: 0;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            padding: 0;
            text-align: center;
            a {
                text-transform: uppercase;
                color: #fff;
                font-size: 39px;
            }
        }
    }
}
.categories_menu_class {
    margin-top: 40px;
    ul {
        position: relative;
        padding: 0;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 -3px 0 0;
            line-height: 84px;
            width: 290px;
            padding: 0 30px;
            text-align: center;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;
            }
            ul {
                display: none;
                width: 100%;
            }
        }
        li.color1 {
            background-color: #bdac7e;
            li {
                background-color: #bdac7e;
            }
        }
        li.color2 {
            background-color: #df7e6b;
            li {
                background-color: #df7e6b;
            }
        }
        li.color3 {
            background-color: #965251;
            li {
                background-color: #965251;
            }
        }
        li.color4 {
            background-color: #8d7644;
            li {
                background-color: #8d7644;
            }
        }
        li:hover {
            a {
                text-decoration: none;
                color: #fff;
            }
            ul {
                position: absolute;
                display: block;
                left: 0;
                top: 88px;
                width: 100%;
                text-align: left;
            }
            li {
                display: inline-block;
                margin: 0 -3px 0 0;
                padding: 0;
                width: 190px;
                height: 84px;
                line-height: 0;
                a {
                    text-decoration: none;
                    padding: 20px 0;
                    background-color: rgba(0, 0, 0, 0.2);
                    margin: 22px 10px 22px 0;
                    display: block;
                    height: 44px;
                }
                a:first-child {
                    margin: 22px 10px;
                }
                a:hover {
                    color: #fff;
                }
            }
        }
    }
}
.categories_menu_class.product-categories-menu {
    height: 180px;
    ul {
        li {
            width: 210px;
        }
    }
}
/*
GALLERY CAROUSEL
*/
.wc-gallery {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 840px) {
    .wc-gallery {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*
HOMEPAGE SLIDER
*/
#main div#n2-ss-1 .n2-ss-layer .n2-font-10004-paragraph a,
#main div#n2-ss-1 .n2-ss-layer .n2-font-10004-paragraph a:hover {
    color: #fff !important;
}
#main div#n2-ss-1 .nextend-thumbnail-default table {
    width: 100%;
    table-layout: auto;
}
#main div#n2-ss-1 .nextend-thumbnail-default table td {
    width: auto;
}
#main div#n2-ss-1 .nextend-thumbnail-default .nextend-thumbnail-scroller td > div {
    width: 100% !important;
    height: 100px !important;
    margin: 0;
}
#main div#n2-ss-1 .n2-ss-thumb-image {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
}
#main div#n2-ss-1 .nextend-thumbnail-default .nextend-thumbnail-scroller {
    height: 100px !important;
}
#main div#n2-ss-1 .nextend-thumbnail-horizontal .n2-ss-caption {
    top: 0;
    width: 100%;
    display: table;
    height: 100%;
    background: transparent;
}
#main div#n2-ss-1 .nextend-thumbnail-default .n2-caption-overlay div {
    font-family: "Lato", Calibri, Candara, Arial, sans-serif;
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
    text-transform: uppercase;
}
@media (min-width: 840px) {
    #main div#n2-ss-1 .nextend-thumbnail-default .n2-caption-overlay div {
        font-size: 30px;
    }
}
/*
TEAM
*/
.team .imapper-content-wrapper {
    height: auto !important;
    font-family: "Lato", Calibri, Candara, Arial, sans-serif;
    .imapper-content {
        height: auto !important;
        bottom: auto !important;
        .imapper-content-text {
            height: auto !important;
            bottom: auto !important;
            h3 {
                color: #c46957;
                font-size: 29px;
                margin: 10px 0 5px;
            }
            h4 {
                font-size: 22px;
                margin: 0 0 25px;
            }
            table {
                margin-bottom: 20px;
            }
            tr:first-child {
                border-bottom: 20px solid white;
            }
            td {
                vertical-align: middle;
            }
        }
    }
}
